@model IEnumerable<RestauranteApp.Models.Reserva>

@{
    ViewData["Title"] = "Reservas";
    var admin = Context.Session.GetInt32("Admin") == 1;
}

<h1>Reservas</h1>

@if (!admin)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Nova Reserva</a>
    </p>
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Data da Reserva</th>
            <th>Quantidade de Pessoas</th>
            <th>Cliente</th>
            <th>Mesa</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DataReserva</td>
                <td>@item.QuantidadePessoas</td>
                <td>@item.Cliente.Nome</td>
                <td>@item.Mesa.Numero</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                </td>
            </tr>
        }
    </tbody>
</table>